.center {
    margin: auto;
    margin-top: 50px;
    width: 50%;
    padding: 10px;
    width: 100%;
    display: inline-block;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  height: 400px;
  text-align: center;
  background-color: #c65353;
  color: white;
  margin: 8px 0;
  width: 30%;
  float: left;
  margin: 20px;
  height: 400px;
}

.centered {
  text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inviteButton {
    font-size: 12px;
    width: 20%;
    background-color: #7c2525;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.inviteButton:hover {
    background-color: #d84e4e;
    color: black;
}
